#intro {
    width: 100%;
    max-width: 1250px;

    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 15px;
    gap: 35px;
}

#me {
    width: 100%;
    max-width: 1250px;
    min-height: 200px;
    object-fit: cover;
}

#events {
    width: 100%;
    max-width: 1250px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    gap: 25px;
    padding: 0 25px 0 25px
}

#events img {
    width: 100%;
    max-width: 48%;
    cursor: pointer;
}

@media (width <= 600px) {
    #intro {
        flex-flow: row wrap;
    }
}

@media (width <= 680px) {
    #events img {
        max-width: 597px;
    }
}